<div class="container">
  
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading"> <strong class=""><i class="glyphicon glyphicon-globe"></i> Sign up!</strong>
          </div>
          <div class="panel-body">
            <form [formGroup]="registerForm" role="form" name="form" (ngSubmit)="f.form.valid && register(registerForm.value)" #f="ngForm"
             novalidate>
  
  
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="firstname" class="form-control" placeholder="First Name" tabindex="1" required>
                    <small class="text-red" *ngIf="formErrors.firstname">
                          {{ formErrors.firstname }}
                      </small>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="lastname" class="form-control" placeholder="Last Name" tabindex="2">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="email" formControlName="email" class="form-control" placeholder="Email Address" tabindex="3" required>
                <small class="text-red" *ngIf="formErrors.email">
                          {{ formErrors.email }}
                      </small>
              </div>
  
              <div class="form-group">
                <input type="text" formControlName="username" class="form-control" placeholder="User Name" tabindex="4" required>
                <small class="text-red" *ngIf="formErrors.username">
                          {{ formErrors.username }}
                      </small>
              </div>
  
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" placeholder="Password" tabindex="5" required>
                    <small class="text-red" *ngIf="formErrors.password">
                          {{ formErrors.password }}
                      </small>
                  </div>
                </div>
              </div>   
              <hr colorgraph>
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary btn-block" tabindex="7">Create My Account</button>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-success btn-block" (click)="signin()">Sign Me In</button>
                </div>
              </div>
            </form>
          </div>
        </div>
  
      </div>
  
    </div>